# Variables

In [53]:
# Int
a = 1
b = -1
c = 0b0100
d = 0xff
print("Int:")
print(a, b, c, d, sep=", ")

Int:
1, -1, 4, 255

In [145]:
# Float
a = 1.1
b = 1e-2
c = float("Inf")
d = 3.3j
print("Float:")
print(a, b, c, d, sep=", ")

Float:
1.1, 0.01, inf, 3.3j

In [62]:
# String
a = "Hello"
b = "\x48\x69"
c = "ðŸ˜€"
print("String:")
print(a, b, c, sep=", ")
print("String (encoded):")
print(a.encode(), b.encode(), c.encode(), sep=", ")

String:
Hello, Hi, ðŸ˜€
String (encoded):
b'Hello', b'Hi', b'\xf0\x9f\x98\x80'

In [63]:
# Binary
a = b"Hello"
b = b"\x48\x69"
c = b'\xf0\x9f\x98\x80'
print("Binary:")
print(a, b, c, sep=", ")
print("Binary (decoded):")
print(a.decode(), b.decode(), c.decode(), sep=", ")

Binary:
b'Hello', b'Hi', b'\xf0\x9f\x98\x80'
Binary (decoded):
Hello, Hi, ðŸ˜€

In [133]:
# Bool
a = True
b = False
print("Boolean:")
print(a, b, sep=", ")

Boolean:
True, False

In [134]:
# Null/None
a = None
print("Null/None")
print(a)

Null/None
None

# Arithmetic Operators

In [66]:
# Add
1 + 2

3

In [67]:
# Sub
1 - 2

-1

In [68]:
# Division
3/2

1.5

In [72]:
# Mod
5 % 3

2

In [71]:
# Multiplication
2 * 6

12

In [73]:
# Floor Division
3 // 2

1

In [75]:
# Power
3 ** 3

27

# Assignment Operators

In [90]:
# Basic
a = 1
b = 2

In [93]:
# Arithmetic
a += 1  # a = a + 1
a -= 2  # a = a - 2
a *= 3  # a = a * 3
a /= 3  # a = a / 3
a //= 2  # a = a // 2
a %= 3  # a = a % 3
a **= 3  # a = a ** 3

In [120]:
# Bitwise
b &= 2
b |= 2
b ^= 1
b <<= 3
b >>= 3

# Boolean Operator

In [77]:
# Equal
print(1 == 1)
print(1 == 0)

True
False

In [78]:
# Not Equal
print(1 != 1)
print(1 != 0)

False
True

In [79]:
# Greater Than
print(1 > 1)
print(1 > 0)

False
True

In [80]:
# Less Than
print(1 < 1)
print(1 < 0)

False
False

In [81]:
# Greater than or equal to
print(1 >= 1)
print(1 >= 0)

True
True

In [82]:
# Less than or equal to
print(1 <= 1)
print(1 <= 0)

True
False

# Bitwise Operator

In [113]:
# AND
3 & 2

2

In [114]:
# OR
3 | 2

3

In [115]:
# XOR
2 ^ 8

10

In [116]:
# NOT
~3

-4

In [117]:
# LEFT SHIFT
3 << 2

12

In [118]:
# RIGHT SHIFT
2 >> 3

0

# Logical Operator

In [122]:
# AND
print((2 == 2) and (3 == 1))
print((2 == 2) and (3 == 3))

False
True

In [125]:
# OR
print((2 == 2) or (3 == 1))
print((2 == 1) or (3 == 2))

True
False

In [127]:
# NOT
print(not((2 == 2) and (3 == 1)))
print(not((2 == 2) and (3 == 3)))

True
False

# Identity Operator

In [131]:
# IS / IS NOT
print(True is True)
print(False is not True)
print(None is None)

True
True
True

# Membership Operator

In [137]:
print("Hello" in "Hello World")
print("hello" in "Hello World")

True
False

In [138]:
print("Hello" not in "Hello World")
print("hello" not in "Hello World")

False
True

# Print Statement

In [147]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [148]:
print("Hello World")

Hello World

# Format
https://pyformat.info/

In [164]:
a = 22/7
print(f"{a}")
print(f"{a:.2f}")

3.142857142857143
3.14